.miusage-users-list {
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    color: #222;
    text-align: center;
    background-color: #fff;
}

.miusage-users-table {
    width: 100%;
    padding: 20px;
}

.miusage-users-headers th, .miusage-users-data td{
    padding-bottom: 20px;
}